html,
body {
  position: relative;
  height: 100%;
}

.one{
    font-weight: 100;
}
.tow{
    font-weight: 200;
}
.three{
    font-weight: 300;
}
.four{
    font-weight: 400;
}
.five{
    font-weight: 500;
}
.six{
    font-weight: 600;
}
.seven{
    font-weight: 700;
}
.eight{
    font-weight: 800;
}
.nine{
    font-weight: 900;
}
.xs{
    font-size: 10px;
}
.sm{
    font-size: 15px;
}
.sm-2{
    font-size: 19px;
}
.md{
    font-size:25px
}
.lg{
    font-size:35px
}
.xl{
    font-size: 45px;
}
.xxl{
    font-size: 60px;    
}
.xxxl{
    font-size: 80px;    
}

.white{
    color: white;
}
.bluish{
    color: #08294e;
}
.orange{
    color: #e46128;
}
.orange-bg{
    background-color: #e46128;
}
.l-grey{
    color: #e2e2e2;
}
.m-grey{
    color: #969696;
}
.d-grey{
    color: #5c5c5c;
}

.blue-gradient-bg{
    background-color: #062241;
    background-image: linear-gradient(to right, #010e1b,#06213b , #06223b , #091d31 , #05213f);
    max-height: 750px;
}
.hero-text{
    margin-left:150px;
    margin-right:15px;
}
@media screen and (min-width: 768px) {
    .hero-text{
        margin-left:10px;
        margin-right:15px;
    }
}

.circle-one{
    position: relative;
    top:-300px;
    background-color: #e460289d;
    border-radius: 800px 0px 0px 800px;
    height: 1450px;
    width: 900px;
    box-shadow: -7px 1px 20px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -7px 1px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -7px 1px 20px 0px rgba(0,0,0,0.75);
}
.circle-one:hover{ transition-duration: 300ms; background-color: #e46028; }
.box1-text{
    text-align: center;
    max-width: 350px;
    margin-left: 100px;
    font-size:20px;
    position:relative;
    top:500px
}
.circle-two{
    transition-duration: 800ms;
    position: relative;
    z-index: 1;
    top:-1750px;
    left: 50px;
    background-color: #d36130;
    border-radius: 700px 0px 0px 800px;
    height: 1450px;
    width: 900px;
    box-shadow: -7px 1px 20px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -7px 1px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -7px 1px 20px 0px rgba(0,0,0,0.75);
}
.circle-two:hover{ background-color: #e46028;  }
.box2-text{
    text-align: center;
    max-width: 350px;
    margin-left: 100px;
    font-size:20px;
    position:relative;
    top:500px
}
.circle-two-changed{
    transition-duration: 800ms;
    position: relative;
    z-index: 1;
    top:-1750px;
    left: 650px;
    background-color: #ce6a40;
    border-radius: 700px 0px 0px 800px;
    height: 1450px;
    width: 900px;
    box-shadow: -7px 1px 20px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -7px 1px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -7px 1px 20px 0px rgba(0,0,0,0.75);
}
@media screen and (min-width: 768px) {
    .circle-two-changed{
        left: 550px;
    }
}
.circle-three{
    transition-duration: 800ms;
    position: relative;
    z-index: 2;
    top:-3250px;
    left: 100px;
    background-color: #e46128;
    border-radius: 700px 0px 0px 800px;
    height: 1450px;
    width: 900px;
    box-shadow: -7px 1px 20px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -7px 1px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -7px 1px 20px 0px rgba(0,0,0,0.75);
}
.circle-three-changed{
    transition-duration: 800ms;
    position: relative;
    z-index: 2;
    top:-3150px;
    left: 690px;
    background-color: #ce6a40;
    border-radius: 700px 0px 0px 800px;
    height: 1450px;
    width: 900px;
    box-shadow: -7px 1px 20px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -7px 1px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -7px 1px 20px 0px rgba(0,0,0,0.75);
}
@media screen and (min-width: 768px) {
    .circle-three-changed{
        left: 600px;
    }
}

.services{
    position: relative;
    top: 0px;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    height: 120px;
}

.cards-space{
    margin-left: 130px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.card-top-line{
    background-color: #023064;
    height: 5px;
}
.card-bottom-line{
    background-color: #cc5c2c;
    height: 5px;
}
.card-border{
    border: 1px solid #023064;
    height: 450px;
}
.service-logo-bg{
    text-align: center;
    margin: 40px 0px 0px 20px;
}
.service-logo{
    background-color: #023064;
    color: white;
    font-size: 80px;
    border-radius: 100px;
}
.service-name-bg{
    text-align: center;
}
.service-name{
    font-weight: 700;
    font-size: 18px;
}
@media screen and (min-width: 768px) {
    .service-name{
        font-size: 16px;
    }
}
.service-desc-bg{
    text-align: center;
    padding: 0px 25px 0px 25px;
    font-size: 14px;
    font-weight: 400;
}
.card-btn{
    text-align: center;
    background-color: #023064;
    color: white;
    margin-top: 35px;
    border: none;
    padding: 5px 40px 5px 40px;
}

.next-btn{
    cursor: pointer;
    height: 460px;
    background-color: #e46128;
    margin-top: 10px;
    margin-left: 15px;
    width: 45px;
}
.next-btn:hover{
    transition-duration: 400ms;
    background-color: #c9511d;
}
.next-btn:hover>.next-btn-icon{
    transition-duration: 400ms;
    font-size: 65px;
    margin-top: 186px;
    padding-right: 15px;
}
.next-btn-icon{
    color: white;
    font-size: 59px;
    margin-top: 190px;
    padding-right: 12px;
}


.next-btn-left{
    cursor: pointer;
    height: 460px;
    background-color: #e46128;
    margin-top: 10px;
    width: 45px;
}
.next-btn-left:hover{
    transition-duration: 400ms;
    background-color: #c9511d;
}
.next-btn-left:hover>.next-btn-icon-left{
    transition-duration: 400ms;
    font-size: 65px;
    margin-top: 186px;
    padding-right: 15px;
}
.next-btn-icon-left{
    color: white;
    font-size: 59px;
    margin-top: 190px;
    padding-right: 12px;
}

.servicesV2{
    position: relative;
    top: 410px;
    z-index: 2;
    background-color: #061d38;
    height: 340px;
}
.s2-text{
    margin-top: 0px;
}
.three-box{
    background-color: aliceblue;
    height: 300px;
    width: 500px;
}
.white-box{
    transition-duration: 500ms;
    background-color: white;
    border: 1px solid rgba(106, 120, 165, 0.459);
    margin-bottom: 40px;
    color: #08294e;
    -webkit-transition: background-position 1s;
    -moz-transition: background-position 1s;
    transition: background-position 1s; 
}
.blue-box{
    cursor: pointer;
    background-position: 5% 20%;
    transition-duration: 400ms;
    animation: ease-in-out;
    background-image: url('/grad-bg.jpg');
    border: 1px solid rgba(106, 120, 165, 0.459);
    margin-bottom: 40px;
    color: white;
    box-shadow: 0px 1px 38px 9px rgba(0,0,0,0.59);
    -webkit-box-shadow: 0px 1px 38px 9px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 1px 38px 9px rgba(0,0,0,0.59);
}
.white-box-top-text{
    margin-top: 20px;
    font-size: 25px;
    margin-right: 200px;
    margin-left: 20px;
}

.box-space{
    font-family: 'Roboto', sans-serif;
    margin-top: 100px;
    margin-left: 20px;
    font-size: 40px;
    font-weight: 500;
}
.openings{
    position: relative;
    top: 540px;
}
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    margin-top: 80px;
    margin-bottom: 80px;
    border: 3px solid rgba(159, 160, 184, 0.541);
    box-shadow: 1px 2px 45px 19px rgba(0,0,0,0.12);
    -webkit-box-shadow: 1px 2px 45px 19px rgba(0,0,0,0.12);
    -moz-box-shadow: 1px 2px 45px 19px rgba(0,0,0,0.12);
    display: block;
    width: 80%;
    object-fit: cover;
}
.empty-space{
    position: relative;
    top: 540px;
}
.last-box1{
    position: relative;
    top:500px
}
.boxOne:hover{
    background-color: #05203f;
    color: white;
}
.boxOne{
    transition-duration: 300ms;
    border-top: 1px solid silver;
    background-color: white;
    color: #08294e;
    cursor: pointer;
}
.footer{
    position: relative;
    top:500px;
    background-color: #062241;
    background-image: linear-gradient(to right, #010e1b,#041b30 , #04192c , #091d31 , #010e1b);
    max-height: 750px;
}
.footerBlack{
    position: relative;
    top:500px;
    background-color: black;
}

/* ==========================  GlobalIt Services */
.grey-bg{
    background-color: #d6d6d6;
    max-height: 750px;
}
.blue-verticle-line{
    background-color: #08294e;
    height: 200px;
    width: 6px;
}
.orange-verticle-line{
    background-color: #e46128;
    height: 200px;
    margin-left: -12px;
}
.blue-verticle-line-desc{
    background-color: #08294e;
    height: 350px;
    width: 6px;
}
.orange-verticle-line-desc{
    background-color: #e46128;
    height: 350px;
    margin-left: -12px;
}
.orange-verticle-line-right{
    background-color: #e46128;
    height: 270px;
    margin-left: 20px;
}
.blue-verticle-line-right{
    background-color: #08294e;
    height: 270px;
    width: 6px;
}
.asset{
    margin-top: 15%;
    margin-bottom: 50%;
}
.asset-right{
    margin-top: 90px;
    margin-bottom: 100px;
}

.asset-desc{
    margin-top: 35%;
    margin-bottom: 50%;
}

.blue-btn{
    text-align: center;
    background-color: #023064;
    color: white;
    margin-top: 9px;
    border: none;
    padding: 5px 40px 5px 40px;
}
.blue-bg{
    background-color: #023064;
}
.line{
    width: 100%;
    height: 2px;
    background-color: black;
}
.line-2{
    width: 100%;
    height: 3px;
    background-color: black;
}

.box-normal{
    transition-duration: 500ms;
    background-color: white;
    border: 1px solid rgba(106, 120, 165, 0.459);
    color: #08294e;
    -webkit-transition: background-position 1s;
    -moz-transition: background-position 1s;
    transition: background-position 1s; 
}
.box-normal:hover{
    cursor: pointer;
    background-position: 5% 20%;
    transition-duration: 400ms;
    animation: ease-in-out;
    background-image: url('/grad-bg.jpg');
    border: 1px solid rgba(106, 120, 165, 0.459);
    color: white;
}

#__next > div > div:nth-child(4) > div > div:nth-child(1){
    padding: 3px;
}
#__next > div > div:nth-child(4) > div > div:nth-child(2){
    padding: 3px;
}

#__next > div > div:nth-child(4) > div > div:nth-child(3){
    padding: 3px;
}



.box_normal-text{
    font-family: 'Roboto', sans-serif;
    width: 280px;
}
.empty-normal-1{
    margin-top: 80px;
}

.footer-normal{
    background-color: #062241;
    background-image: linear-gradient(to right, #010e1b,#041b30 , #04192c , #091d31 , #010e1b);
    max-height: 750px;
}
.footerBlack-normal{
    background-color: black;
}

/* =========================== RollOut Page ======================== */

.left-menu{
    box-shadow: 15px 14px 40px -18px rgba(0,0,0,0.75);
    -webkit-box-shadow: 15px 14px 40px -18px rgba(0,0,0,0.75);
    -moz-box-shadow: 15px 14px 40px -18px rgba(0,0,0,0.75);
}
.left-menu-item-blue{
    background-color: #023064;
    color: white;
    font-size: 20px;
    padding: 10px;
}
.left-menu-item-white{
    border-top: 1px solid #b9b9b9;
    background-color: white;
    color: #023064;
    font-size: 20px;
    padding: 10px;
}
.left-menu-item-white:hover{
    transition-duration: 400ms;
    cursor: pointer;
    background-color: rgb(238, 238, 238);
}
.left-menu-icon{
    color: silver;
    padding: 2px;
    margin-bottom: 3px;
}
.touch-btn{
    color: black;
    background-color: white;
    font-weight: 600;
    padding: 10px;
    border: none;
    border-radius: 2px;
}
.PC-View{
    display: block;
}
.mobileView{
    display: none;
}
@media screen and (max-width: 1260px) {
    .PC-View{
        display: none;
    }
    .mobileView{
        display: block;
    }
}
.mob-bg-hero{
    display: block;
    width: 100%;
    background-color: #062241;
    background-image: linear-gradient(to right, #010e1b,#06213b , #06223b , #091d31 , #05213f);
}

.mob-card-one{
    border: 1px solid #023064;
}
.mob-card-icon{
    background-color: #023064;
    border-radius: 90px;
}
.mob-card-border{
    border: 2px inset silver;
    box-shadow: 0px 1px 37px -6px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: 0px 1px 37px -6px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: 0px 1px 37px -6px rgba(0,0,0,0.75) inset;
}
.mob-last-section{
    border-bottom: 1px solid silver;
    border-top: 1px solid silver;
    color: #023064;
}
.mob-last-section:hover{
    transition-duration: 300ms;
    background-color: #023064;
    color:white;
}